


body {
    padding-top: 50px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}


.business-header {
    min-height: 400px;
    width: 100%;
    background: linear-gradient(to bottom, #0006 0%, #000A 100%), url('../images/banner.jpg') center/cover no-repeat scroll;
    padding: 4rem 1rem;
}



.navbar-brand {
    font-family: 'Orbitron', sans-serif;
    font-size: 1.5em;
    color: orange!important;

}

.navbar-brand:hover {
    color: white !important;
}


.imgl,
.imgr {
    padding: 10px;
    max-width: 90%;
    max-width: 90vw;
    max-width: calc(100vw - 20px);
    display: block;
}

@media (min-width: 479px) {
    .imgl {
        float: left;
    }

    .imgr {
        float: right;
    }
}



.navbar .nav > li > a {
    color: orange;
}

.navbar .nav > li > a:hover {
    color: white;
}

.txtc {
    text-align: center;
}

.logo {
    width: 300px;
    max-width: 100%;
}

.sectionheading {
    text-align: center;
}

.tagline {
    color: #fff;
    text-align: center;
    padding-top: 20px;
}

.subtagline {
    font-size: 1.5em;
    color: #fff;
    text-align: center;
}

h1 {
    font-family: 'Orbitron', sans-serif;
}


.pgcont {
    min-height: 100vh;
}


.block {
    background-color: black;
    color: white;

}

.pagecontainer {
    padding-top: 20px;
    padding-bottom: 20px;
}

.textpad {
    padding-left: 20px;
    padding-right: 20px;
}

.gallery img {
    padding: 5px;
}


textarea {
    resize: vertical;
    min-height: 5em;
}


footer {
    background-color: black;
    color: white;
    padding: 20px;
}

footer a {
    color: white;
}

footer a:hover {
    color: blue;
}

footer ul {
    display: inline;
}

footer ul li {
    list-style-type: none;
}


cite {
    display: block;
}
